@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* All Settings */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

:root
{
    --primary:#ff4d30;
    --black: #010103;
    --lightblack: #2d2d2d;
    --gray: #706f7b;
}


/* Global Styles */
a
{
    text-decoration: none;
}

button
{
    cursor: pointer;
}

.row
{
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 28px;
}

.container
{
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.color-primary
{
    color: var(--primary)
}



/* Navigation Bar */

nav 
{
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav__row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px;
}

.nav__image__wrapper
{
    width: 145px;
}

.nav__image
{
    width: 100%;
    height: 100%;
}

.nav__links
{
    display: flex;
    gap: 20px;
}

.nav__link, .menu__link
{
    font-size: 16px;
    color: var(--black);
    font-weight: 600;
    transition: 200ms ease;
}

.nav__link:hover,
.menu__link:hover
{
    color: var(--primary);
}

.nav__buttons
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__button
{
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--primary);
    color: white;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.3);
    transition: 200ms ease;
}

.nav__button:hover
{
    background-color: #ff2d01;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.6);
}

.nav__menu
{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 24px;
    display: none;
}

.menu
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f7f7f7;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease;
}

.open .menu
{
    opacity: 1;
    visibility: visible;
}

.menu__close {
  position: absolute;
  top: 44px;
  right: 32px;
  font-size: 20px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--black);
  cursor: pointer;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.menu__link {
  color: var(--black);
  font-size: 24px;
  font-weight: 500;
}


/* Header */

header
{
    height: 100vh;
    background: #f8f8f8;
}

.header__row
{
    display: flex;
    align-items: center;
    position: relative;
}

.header__bg
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.header__content
{
    display: flex;
    align-items: center;
    z-index: 1;
}

.header__image__wrapper
{
    position: absolute;
    right: 0;
    width: 65%;
    margin-top: 56px;
}

.header__image
{
    width: 100%;
    height: 100%;
}

.header__text
{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;
    margin-top: 56px;
    z-index: 3;
}

.header__subtitle
{
    font-size: 20px;
}

.header__title
{
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
}

.header__paragraph
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 24px;
    font-size: 16px;
    color: var(--gray);
    text-align: left;
}

.header__button1,
.header__button2
{
    font-weight: 600;
    align-items: center;
    font-size:16px;
    padding: 16px 26px;
    border-radius: 4px;
    border: none;
    color: white;
    margin: 0 8px;
    transition: 200ms ease;
}

.header__button1
{
    background-color: var(--primary);
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.5);
}

.header__button2
{
    background-color: var(--black);
    border: 2px solid transparent;
}

.header__button1:hover
{
    background-color: #ff2d01;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.7);
}

.header__button2:hover
{
    border-color: var(--black);
    background-color: transparent;
    color: var(--black);
}


/*  Feature/About  Main Section */

#feature
{
    background-color: white;
}

.features__row
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.features__subtitle
{
    font-size: 24px;
    font-weight: 600;
}

.features__title
{
    font-size: 42px;
}

.features__list
{
    display: flex;
    padding: 0 32px;
    margin-top: 36px;
    gap: 56px 120px;
}

.feature
{
    width: 25%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.feature__image__wrapper
{
    width: 175px;
}

.feature__image
{
    width: 100%;
    height: 100%;
}

.feature__title
{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.feature__paragraph
{
    color: var(--gray);
    max-width: 350px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* Banner */

#banner
{
    background-color: var(--lightblack);
}

.banner__container
{
    padding: 40px 28px;
}


.banner__row
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__title,
.banner__subtitle
{
    padding:8px;
    color: white
}

.banner__title
{
    font-size: 60px;
}

.banner__subtitle
{
    font-size: 28px;
    font-weight: 500;
}

/* Vehicles */

#vehicles
{
    background-image: url("assets/choose-bg.png");
    background-repeat: no-repeat;
    background-position: -255px 255px;
    background-size: cover;
}

.vehicles__row
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.vehicles__image__wrapper
{
    width: 100%;
}

.vehicles__image
{
    width: 100%;
    height: 100%;
}

.vehicles__content
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.vehicles__text
{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.vehicles__subtitle
{
    font-size: 22px;
    font-weight: 600;
}

.vehicles__title
{
    font-size: 42px;
    line-height: 1.4;
}

.vehicles__paragraph
{
    margin-top: 12px;
    color: gray;
}

.vehicles__button
{
  margin-top: 12px;
  font-size: 16px;
  font-weight: 700;
  padding: 18px 30px;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 300ms ease;
  width: fit-content;
  background: var(--primary);
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.3);
}

.vehicles__button:hover
{
  background-color: #fa4226;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.6);
}

.vehicles__infos
{
    max-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.vehicles__info
{
    display: flex;
    gap: 12px;
}

.vehicle__text
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.vehicle__title
{
    font-size: 24px;
}

.vehicle__paragraph
{
    font-size: 15px;
    color: gray;
}

/* Testimonials */


.testimonials__row
{
    max-width: 100%;
    background-color: rgb(244, 244, 244);
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.testimonials__subtitle
{
    font-size: 22px;
    font-weight: 600;
}

.testimonials__title
{
    font-size: 42px;
}

.testimonials__paragraph
{
    margin: 0 auto;
    color: gray;
    max-width: 700px;
    margin-top: 16px;
}

.testimonials__list
{
    display: flex;
    margin-top: 80px;
    gap: 24px;
}

.testimonial__card
{
    background: white;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.08);
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 56px;
    gap: 40px;
}

.testimonial__image
{
    width: 72px;
    height: 72px;
    border-radius: 9999px;
    overflow: hidden;
}

.testimonial__profile__image
{
    width: 100%;
    height: 100%;
}

.testimonial__info
{
    display: flex;
    align-items: center;
    gap: 16px;
}

.testimonial__text
{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.testimonial__paragraph
{
    font-size: 22px;
    text-align: left;
}
.testimonial__name
{
    text-align: left;
    font-size: 16px;
}

.testimonial__subname
{
    font-size: 12px;
}

.testimonial__icon
{
    margin-left: auto;
    font-size: 48px;
    color: var(--primary);
}

/*   Download Section   */

#download
{
  background-image: url(assets/download-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.download__row
{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.download__text
{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 12px;
}

.download__title
{
    max-width: 600px;
    font-size: 50px;
}

.download__paragraph
{
    color: gray;
    font-size: 18px;
    padding: 12px 0;
    max-width: 550px;
}

.download__images
{
    text-align: left;
    display: flex;
    gap: 32px;
}

.download__image__wrapper
{
    width: 50%;
    
}

.download__image__wrap
{
    width: 100%;
    height: 100%;
}

/* Footer */

.footer__row
{
    display: flex;
    flex-wrap: wrap;
    text-align: space-around;
    gap: 48px;
}

.footer__content
{
    width: 22%;

}

.footer__info__title,
.footer__company__title,
.footer__hours__title,
.footer__subs__title
{
    font-size: 24px;
    font-weight: 700;
}

.footer__info__paragraph
{
    font-size: 18px;
    max-width: 270px;
    padding: 12px 0;
    color: gray;
}

.footer__info__links
{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__info__link
{
    color: black;
    transition: 200ms ease;
}

.footer__info__link:hover
{
    color: var(--primary);
}

.footer__company__links
{
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__company__link
{
    font-size: 18px;
    color: black;
    transition: 200ms ease;
}

.footer__company__link:hover
{
    color: var(--primary);
}

.footer__hours__list
{
    font-size: 18px;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__subs__text,
.footer__subs__form
{
    padding: 12px 0;
    gap: 4px;
}

.footer__subs__text
{
    font-size: 18px;
    max-width: 220px;
}

.footer__subs__form
{
    display: flex;
    flex-direction: column;
}

.footer__subs__input
{
    max-width: 220px;
    padding: 14px;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 2px;
}

.footer__subs__button
{
    font-size: 20px;
    font-weight: 600;
    max-width: 220px;
    padding: 14px;
    background-color: var(--primary);
    color: white;
    border-radius: 4px;
    border: none;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.4);
    transition: 200ms ease;
}

.footer__subs__button:hover
{
    background-color: #ff2d01;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.6);
}

/* Media  480, 640, 768, 1024, 1280*/


@media (max-width: 1280px)
{
    .footer__row
    {
        gap: 48px;
        justify-content: space-between;
    }

    .footer__content
    {
        width: 40%
    }
}





/* Desktops 1024px */
@media (max-width: 1024px)
{
    /* Navigation */


    .nav__links
    {
        display: none;
    }

    .nav__buttons
    {
        display: none;
    }

    .nav__menu
    {
        display: block;
    }

    /* Header */


    .header__button1,
    .header__button2
    {
        padding: 24px 32px;
    }

    /* features */

    .features__list
    {
        flex-wrap: wrap;
        gap: 40px;
    }

    .feature
    {
        width: 45%;
    }

    /* Banner */

    .banner__title
    {
        font-size: 48px;
    }

    .banner__subtitle
    {
        font-size: 22px;
    }

    /* Vehicles */

    .vehicles__content
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 48px;
    }

    .vehicles__text
    {
        align-items: center;
    }
    
    /* testimonials */

    .testimonials__list
    {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .testimonial__subname
    {
        font-size: 14px;
        font-weight: 500;
    }
}

/* Tablets */

@media (max-width: 768px)
{
    .nav__logo
    {
        width: 28%;
    }

    /* header */

    .header__bg
    {
        display: none;
    }

    .header__image__wrapper
    {
        display: none;
    }

    .header__row
    {
        width: 100%;
        text-align: center;
        justify-content: center;
        gap: 12px;
    }

    /* Feature */

    .feature
    {
        width: 100%;
    }

    /* banner */

    .banner__title
    {
        
        font-size: 34px;
    }

    .banner__subtitle
    {
        font-size: 20px;
    }

    /* download */

    #download
    {
        background-image: none;
    }
    
    .download__row
    {
        display: flex;
        justify-content: center;
    }

    .download__text
    {
        align-items: center;
        text-align: center;
    }

}


/* LG Phones */


@media (max-width: 640px)
{

    /* header */

    .header__title
    {
        font-size: 52px;
    }

    .header__paragraph
    {
        text-align: center;
    }

    /* banner */

    .banner__row
    {
        text-align: center;
    }

    .banner__title
    {
        font-size: 52px;
    }

    .banner__subtitle
    {
        font-size: 20px;
    }

    /* Testimonials */

    .testimonial__card
    {
        padding: 32px;
    }

    /* footer */

    .footer__content
    {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .footer__info__paragraph
    {
        max-width: 500px;
        margin: 0 auto;
    }

    .footer__subs__text
    {
        margin: 0 auto;
    }

    .footer__subs__form
    {
        align-items: center;
    }

    .footer__subs__button
    {
        padding: 12px 75px;
    }

}

/* Small Devices 480px */

@media (max-width: 480px)
{

/* header */

    .header__button1,
    .header__button2
    {
        flex-direction: column;
        width: 100%;
        margin: 10px;
    }

/* Vehicles */

    .vehicles__info
    {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

/* Download */

    .download__images
    {
        flex-direction: column;
        gap: 12px;
        margin-top: 8px;
    }

    .download__title
    {
        font-size: 42px;
        max-width: 500px;
    }
}
